@import url('https://fonts.googleapis.com/css2?family=Comic+Sans&display=swap');
html{
    font-family:"Comic Sans", sans-serif;
}
body{
    background: rgba(1,22,41,255);
    overflow: hidden;
}
.title{
    text-align: center;
    
}

.loadingScreen{
    width: 100vw;
    height: 100vh;
    opacity:1;
    transform: translateX(0px);
    transition:
        opacity 2s ease-out .5s, 
        transform 3s ease-in-out;
    position: absolute;
    z-index: 2;

}
.loadingScreenLeft{
    width: 50vw;
    height: 100vh;
    opacity:1;
    /*transform: translateX(0px);*/
    transition:
        opacity 2s ease-out 1s, 
        transform 3s ease-in-out 0.5s;
    /*position: absolute;*/
    z-index: 2;

}
.title{
    font-weight: bold; 
    font-size: 50px; 
    color: rgba(228,6,27,255);
    padding-top: 30px;

}
.imageHolder{
    display:flex; 
    flex-direction: row; 
    overflow: hidden;
    z-index: 2;
    position: absolute;
}
.loadingScreenRight{
    width: 50vw;
    height: 100vh;
    opacity:1;
    /*transform: translateX(0px);*/
    transition:
        opacity 2s ease-out 1s, 
        transform 3s ease-in-out 0.5s;
    /*position: absolute;*/
    z-index: 2;

}

.loadingScreen.loaded{
    opacity:0;
    transform: translateX(1000px);
}
.loadingScreenLeft.loadedLeft{
    opacity:0;
    transform: translateX(-500px);
}
.loadingScreenRight.loadedRight{
    opacity:0;
    transform: translateX(500px);
}

.content{
    text-align: center;
    color: orange;
    font-size: 60;
    z-index: 1;
    
}
.taskbar{
    display: flex;
    flex-direction:row;
    gap:1%;
    margin-left: 5%;
}
button{
    color: rgba(228,6,27,255);
    background: rgba(1,22,41,255);
}